/* Globals */
 body {
 background-color: white;
 }

 h1 {
  text-align: center;
 	font-size: 40px;
 	color: #002244;
 	font-family: "Marker Felt", fantasy;
 }

ul{
  padding: 0px;
  text-align: center;
}
img{
  width: 50%;
}

input[type=submit]:hover {
  background-color: #45a049;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Global Classes */
 .grid-container{
 	display: grid;
 	grid-template-columns: repeat(5,1fr);
 	grid-template-rows: auto;
 	grid-gap: 30px;
 }
 .grid-item{
  margin-top: 5%;
 	background-color: #77D5EA;
 	padding: 20px;
  border: solid;
 	border-radius: 12px;
  border-color: #002244;
 	text-align: center
 }
 .cart-show-grid{
   display: grid;
   grid-template-columns: repeat(5,1fr);
   grid-template-rows: auto;
   grid-gap: 30px;
 }
 .item-show-grid{
  width: 60%;
 	display: grid;
  border: solid;
  border-radius: 12px;
 	grid-template-columns: repeat(2,1fr);
}
  /* Flash Styling */
 .error {
   border-style: solid;
   border-color: Black;
   text-align: center;
   border-radius: 10%;
   background-color: red;
   color: White;
   margin: 5px 40%;
   width: 20%;
 }
 .success {
   border-style: solid;
   border-color: Black;
   text-align: center;
   border-radius: 10%;
   background-color: green;
   color: White;
   margin: 5px 40%;
   width: 20%;
 }

 .notice {
   border-style: solid;
   border-color: Black;
   text-align: center;
   border-radius: 10%;
   background-color: Gold;
   color: Black;
   margin: 5px 40%;
   width: 20%;
 }
 .topnav {
   overflow: hidden;
   background-color: #404E4D;
 }

 .topnav a {
   float: left;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
 }

 .topnav a:hover {
   background-color: #17BEBB;
   color: black;
 }

 .item-show-item{
 	padding: 20px;
 }
 .address{
   text-align: center;
 }

 .add-cart{
   width: 25%;
   background-color: Orange;
   color: white;
   padding: 5px;
   margin: 8px 0;
   border: none;
   border-radius: 4px;
   cursor: pointer;
 }

 .add-cart:hover {
   background-color: #45a049;
 }

.submit-form {
  width: 100%;
  background-color: #5BC0EB;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form {
  align-content: center;
  background-color: #f2f2f2;
  padding: 20px;
  width: 60%;
}

/* Reviews */
#span-3 {
  text-align: center;
  grid-column: span 3;
  padding: 5px;
  margin: 5px 5px;
  border-style: none;
}

#quantity {
  	display: table;
  	width: 100%;
    border: 1px solid #444444;
}
.quantity-child {
  display: table-cell;
  background-color: #404E4D;
  vertical-align: middle;
}

#quantity-minus {
  margin: 5px 5px;
  font-size: 20px;
  border-radius: 12px;
  border-color: #002244;
  text-align: center
}

#quantity-plus {
  margin: 5px 5px;
  border-radius: 12px;
  font-size: 20px;
  border-color: #002244;
  text-align: center;
}
#quantity-text {
  background-color: #9BC53D;
  padding: 5px;
  margin: 5px 10px;
  font-size: 12px;
  margin-right: 5%;
  border: solid;
  border-radius: 12px;
  border-color: #002244;
  text-align: center;
  font-style: oblique;
}
#checkout {
  width: 50%;
  background-color: Red;
  color: white;
  padding: 5px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.review-item{
 margin-top: 5%;
 padding: 20px;
 border: solid;
 border-radius: 12px;
 border-color: #002244;
 text-align: center
}
#review-edit {
  text-align: left;
}
#review-delete {
  text-align: right;
}

#cart-footer{
  float: right;
  border-style: dashed;
}

#empty-cart{
  padding-left: 50px;
}

#review-grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto;
  grid-gap: 30px;
}
#average-reviews {
  background-color: #CECE94;
  padding: 15px;
  text-align: center;
}
#new-review {
  text-align:center;
  grid-column: span 2;
}
#top-reviews{
 background-color: #D0E5C3;
 padding: 15px;
 text-align: center;
}
#low-reviews{
  background-color: #BC7B7A;
  padding: 15px;
  text-align: center;
}
#all-reviews {
  vertical-align: text-top;
  padding: 15px;
  text-align: left;
}
.order-show-grid{
 display: grid;
 grid-template-columns: repeat(5,1fr);
 grid-template-rows: auto;
 grid-gap: 30px;
}
.order-grid-item{
 margin-top: 5%;
 background-color: #D0E5C3;
 padding: 5px;
 border: solid;
 border-radius: 12px;
 border-color: #002244;
 text-align: center
}

#order-text {
  text-align: center;
}

#order-statement {
  text-align: center;
  font-weight: lighter;
  font-family: fantasy;
}

#footer-summary {
  background-color: #CC8F7E;
  margin-top: 5%;
  float: right;
  width: 25%;
  margin-bottom: 0;
  padding: 5px;
  border: solid;
  border-radius: 12px;
  border-color: #002244;
  text-align: center
}

.merchant-stats {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.merchant-stats-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #45a049;
  border: 1px solid black;
  border-style: ridge;
  color: white;
}

.merchant-stats-table td {
  border: 1px solid #45a049;
  color: #002244;
  padding: 8px;
  border-style: dotted;
  font-family: sans-serif;
}
}

.merchant-stats-table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  width: 100%;
}
