 body {
 background-color: white;
 }

 h1 {
  text-align: center;
 	font-size: 40px;
 	color: #002244;
 	font-family: "Marker Felt", fantasy;
 }

ul{
  padding: 0px;
  text-align: center;
}
img{
  width: 50%;
}

input[type=submit]:hover {
  background-color: #45a049;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

 .grid-container{
 	display: grid;
 	grid-template-columns: repeat(5,1fr);
 	grid-template-rows: auto;
 	grid-gap: 30px;
 }

 .cart-show-grid{
 	display: grid;
  align-items: center;
 	grid-template-columns: repeat(5,1fr);
 	grid-template-rows: auto;
 	grid-gap: 30px;
 }

 .grid-item{
 	background-color: #17BEBB;
 	padding: 20px;
  border: solid;
 	border-radius: 12px;
  border-color: #002244;
 	text-align: center
 }
 .item-show-grid{
  width: 60%;
 	display: grid;
  border: solid;
  border-radius: 12px;
 	grid-template-columns: repeat(2,1fr);
 }

 #cart-footer{
   float: right;
   border-style: dashed;
 }

 #empty-cart{
   padding-left: 50px;
 }

 #review-grid{
  align-content: center;
  width: 80%;
 	display: grid;
  padding-left: 100px;
 	grid-template-columns: repeat(3,1fr);
 }

 #average-reviews {
   padding: 20px;
   text-align:center;
 }

 #new-review {
   text-align:center;
   grid-column: span 2;
 }

 #top-reviews{
 	padding: 20px;
 	text-align: left;
 }

 #low-reviews{
   padding: 20px;
   text-align: left;
 }

 #all-reviews{
   padding: 20px;
   text-align: left;
 }

 #span-3 {
   text-align: center;
   grid-column: span 3
 }

 #quantity {
   width: 100%;
   display: inline-block;
   text-align: left;
   grid-row: 5;
   vertical-align: bottom;
   position: relative;
 }

 .quantity-inner {
   display: inline-block;
   float: left;
   padding: 10px;
 }

 #checkout {
   width: 50%;
   background-color: Red;
   color: white;
   padding: 5px;
   margin: 8px 0;
   border: none;
   border-radius: 4px;
   cursor: pointer;
 }

 .item-show-item{
 	padding: 20px;
 	/* text-align: right; */
 }

 .topnav {
   overflow: hidden;
   background-color: #002244;
 }

 .topnav a {
   float: left;
   color: #f2f2f2;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
 }

 .topnav a:hover {
   background-color: #17BEBB;
   color: black;
 }

 .address{
   text-align: center;
 }

 .add-cart{
   width: 25%;
   background-color: Orange;
   color: white;
   padding: 5px;
   margin: 8px 0;
   border: none;
   border-radius: 4px;
   cursor: pointer;
 }

 .add-cart:hover {
   background-color: #45a049;
 }

.submit-form {
  width: 100%;
  background-color: #17BEBB;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form {
  align-content: center;
  background-color: #f2f2f2;
  padding: 20px;
  width: 60%;
}
